@media screen and (max-width: 1020px) {
    .headline, .chart-container, .table-container, .mid-half {
        width: 100%;
        max-height: 45vh;
    }
}

div {
    min-width: 10%;
}

.headline {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 50%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FF495C;
    overflow-y: hidden;
}

body {
    background-color: #EFEEEA;
}

.glyph {
    text-align: center;
    max-height: 25px;
}

.table-container {
    background-color: #62C0B7;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

.mid-half {
    min-height: 100vh;
    max-height: 100vh;
    margin-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    overflow: auto;
}

.right-box {
    background-color: #256EFF;
    color: white;
    text-align: center;
}

.left-box {
    background-color: #FF495C;
    color: white;
    text-align: center;
}

#letter {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    max-height: 45%;
    max-width: 70%;
    object-fit: contain;
}

.chart-container {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 50%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FFF5E8;
}

.firstcharacter {
    color: #C84630;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.pquote {
    width: 300px;
    color: #C84630;
    font-size: 32px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
}

blockquote {
    margin: 0;
}

.pquote p:first-letter {
    font-size: 39px;
    font-weight: bold;
}